.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 100vh; 
 

}

.header {
    grid-column: 2 / 5;
    grid-row: 1;
    background-color: white;
}

.sidebar {
    grid-column: 1;
    grid-row: 1 / 5;
background-color: blue;
}

.main {
    display: grid;

grid-column: 2 / 5;
grid-row: 2 / 5;
background-color: grey;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
grid-auto-flow: column;
}

.sidebar-grid {
    display: grid;
    grid-template-columns: 1;
    background-color: blue;
    color: white;
    align-items: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 50px;
    margin-top: 30px;
    
}
.nav-list{
display: grid;
grid-template-columns: 1;
grid-template-rows: repeat(10, 1 fr);
background-color: blue;
color: white;
}
ul {
    list-style-type: none;
    font-size: xx-large
}
.nav-list li {
    padding: 10px; /* Add padding for better spacing */
}

.nav-list li:nth-child(7) {
    visibility: hidden; /* Hide the empty list item */
}

.left-side{
    grid-column: 2 / 4;
    grid-row: 1 / 5;
    margin-top: 60px;
  
 
}
.projects {
    display: grid;
    max-width: 1000px;
    max-height: 300px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 40px;
    margin-right: 250px;
    color: darkblue;
    
}
.square {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    max-height: 165px;
    border-left: 7px solid darkblue; 
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5) outset;
  padding: 10px;
}

.right-side {
grid-column: 4 / 5;
grid-row: 1 / 5;
display: grid;
margin-right: 80px;
margin-bottom: 100px;
}

.announcements {
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(3, 1fr);
    padding: 10px;
color: darkblue;
background-color: white;
border-radius: 5px;
    max-width: 200px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5) outset;
}
.announcements p {
    font-size: smaller;
    
}
.header-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, 1fr); 
    gap: 10px;
    margin-left: 20px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.search-bar {
grid-column: 1;
grid-row: 1;
background-color:grey;
border-radius: 10px;
width: 75%;
height: 40px;
margin-top: 40px;
}
.buttons{
   
    color: white;
    padding: 10px;
    margin-top: 20px;
    gap: 20px;
    font-size: large;
}
.greeting {
    margin-left: 20px;
}
.trending {
    color: white;
}

.divider {
    height: 1px;
    background-color: darkblue;
    margin: 5px 0; 
}